<span>Название страны - {{name.official}}</span>
<span>Столица - {{capital}}</span>
<span>Язык - {{stringOflanguages}}</span>
<span>Население - {{population}}</span>
<span>Флаг страны - {{flags.svg}}</span>
