<li class="country-list__item">
    <div class="image-wrapper">
        <img src="{{flags.svg}}">
    </div>
    <p>{{name.official}}</p>
</li>

<li>
    <p>Capital: {{capital}}</p>
</li>

<li>
    <p>Population: {{population}}</p>
</li>

<li>
    <p>Languages: {{stringOflanguages}}</p>
</li>



